[Unit]
Description=Outback OS graphical session
Documentation=https://wayland.pages.freedesktop.org/weston/toc/running-weston.html
After=systemd-user-sessions.service systemd-logind.service
Wants=systemd-user-sessions.service
Conflicts=getty@tty1.service
ConditionPathExists=/dev/tty1

[Service]
Type=simple
User=outback
Group=outback
PAMName=login

Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=Outback
Environment=XDG_SESSION_DESKTOP=Outback
Environment=QT_QPA_PLATFORM=wayland
Environment=QT_WAYLAND_DISABLE_WINDOWDECORATION=1

TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-fail
StandardOutput=journal
StandardError=journal

UtmpIdentifier=tty1
UtmpMode=user

ExecStart=/usr/bin/outback-session

Restart=on-failure
RestartSec=3
StartLimitIntervalSec=30
StartLimitBurst=3

[Install]
WantedBy=graphical.target
